*{
    margin: 0px;
}
body{
    background-color: #1aff66;
    font-family: Helvetica, Arial, sans-serif;
}
/*====== header ====*/
.header{
    width: 100%;
    height: 200px;
    background-image: url("thai-temple.jpg");
    background-size: 100% 100%;
    padding-top: 5%;
}
.header h1{
    text-align: center;;
    font-size: 60px;
    margin: 0px;
}

/*====== navBar ======*/
.navBar{
    width: 100%;
    height: 70px;
    background: #1a1a1a;
    margin: 0px;
    padding: 0px;
}

.navBar .navBarLinks ul a{
    text-decoration: none;
    float: left;
    padding: 0px 40px 0px 40px;
    margin: 0px;
    font-size: 30px;
    color: white;
    height: 70px;
}
.navBar .navBarLinks li{
    display: inline;
}
.navBar .navBarLinks ul a:hover{
    background: grey;
    color: black;
}
.search1{
    float: right;
    margin: 0px;
    float: right;
}
.search1 input{
    height: 39px;
    margin-top: 15px;
    float: left;
    text-align: center;
    font-size: 14px;
    padding: 0px;
    border-width: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #ffffff;
}
.search1 button{
    height: 39px;
    margin-right: 80px;
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
    border:0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #ff5c33;
}

/*===== main and sideBar ====*/

.sideBar{
    width: 100%;
    height: 800px;
    background: grey;
    padding: 0px;
    margin:0px;
}
.column{
    width: 20%;
    height:100%;
    background: #4d4d4d;
    margin: 0px;
    padding: 0px;
    float: left;
}
.column ul{
    font-size: 30px;
    text-align: center;
}
.column ul li a{
    font-size: 30px;text-decoration: none;
}
.column1{
    width: 80%;
    height:100%;
    background: #999999;
    margin:0px;
    padding: 0px;
    float: left;
}
.sideBar:after{
    content: " ";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column{
    width: 100%;
    }
    .column1{
        width: 100%;
    }

}

/*==== footer ====*/
.footer{
    width: 100%;
    height: 100px;
    background: #0d0d0d;
    float: left;
}
.footer p{
    text-align: center;
    color: white;
    padding-top: 20px;
}
